@page
@model CadastroProdutosNetCore.Pages.Produtos.DetailsModel

<h4>Detalhes do Produto</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Disponivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Disponivel)
        </dd>
        <dt class="col-sm-2">
            Nome do Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produto?.IdProduto">Editar</a> |
    <a asp-page="./Index">Voltar para a Lista</a>
</div>